@import "./reset.css";

:root {
  --color-primary: #FFAA01;
  --color-blackish: #353535;
  --color-whitish: #FFFAF2;
  --color-desaturated: #AE8A68;

  --sans-serif-font-family: Arial, Verdana, sans-serif;

  font-family: var(--sans-serif-font-family);
  font-size: 16px;
  background: var(--color-blackish);
}

h1 {
  font-size: 1.8em;
  margin: 20px 15px 10px;
}